In [2]:
#Dependencies
import pandas as pd
import os

In [7]:
#Load in CSV

vines_table_df = pd.read_csv("vine_table.csv")

vines_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3VR960AHLFKDV,4,0,0,N,Y
1,R16LGVMFKIUT0G,5,0,0,N,Y
2,R1AIMEEPYHMOE4,5,1,1,N,Y
3,R1892CCSZWZ9SR,3,0,0,N,Y
4,R285P679YWVKD1,3,0,0,N,N
...,...,...,...,...,...,...
792108,R1F7BNIK2R72ZC,5,21,21,N,N
792109,RVR3U3QA0D95B,5,10,11,N,N
792110,R1X5JB9UJRZW31,5,3,5,N,N
792111,R235PHRTF7BFK7,4,5,5,N,N
792112,RZ0Y9U30658TB,5,5,6,N,N

In [10]:
vines_table_df.count()

review_id            792113
star_rating          792113
helpful_votes        792113
total_votes          792113
vine                 792113
verified_purchase    792113
dtype: int64

In [12]:
# rows with 20 revirews or greater
vines_twenty_reviews_df = vines_table_df[vines_table_df["total_votes"] >=20]
vines_twenty_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

In [23]:
#2.Filter new df, to retrieve all rows where the number of helpful votes 
#divided by the total votes is equal to or greater than 50%
vine_total_vote = vines_twenty_reviews_df["total_votes"]
#vine_total_vote.head()
vine_helpful_votes = vines_twenty_reviews_df["helpful_votes"]
#vine_helpful_votes
helpful_votes = vines_twenty_reviews_df[(vine_helpful_votes/vine_total_vote) >=.50]
helpful_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

In [26]:
#3. Retrieve all the rows where a review was wrtiten as part of the Vine program

vine_program_yes = helpful_votes[helpful_votes["vine"] == "Y"]
vine_program_yes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5408,R2BQOD1R0228FN,3,17,26,Y,N
8246,RC31RUPFOHBHQ,4,102,117,Y,N
12219,REN3N1WITLF1Y,5,33,37,Y,N
13330,R71RZQ9UZVG47,4,38,47,Y,N
16942,R38NMQBH88HLM6,4,18,24,Y,N
...,...,...,...,...,...,...
763326,R2QLL1VI9MRY2W,4,768,783,Y,N
763464,R15S9ONTV908AJ,4,21,24,Y,N
763976,R3E85BMKO2AWUP,4,155,177,Y,N
764209,RGNC5HFA9IZ5V,5,59,63,Y,N
764564,R142W0FDRAM7WE,5,99,111,Y,N

In [27]:
#4. Retrieve all the rows where a review was wrtiten as part of the Vine program

vine_program_no = helpful_votes[helpful_votes["vine"] == "N"]
vine_program_no

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

In [34]:
#5.
paid_reviews = len(vine_program_yes)
paid_reviews

136

In [35]:
#5.
unpaid_reviews = len(vine_program_no)
unpaid_reviews

18019

In [37]:
paid_five_star_reviews = len(vine_program_yes[vine_program_yes["star_rating"]==5])
paid_five_star_reviews

74

In [38]:
unpaid_five_star_reviews = len(vine_program_no[vine_program_no["star_rating"]==5])
unpaid_five_star_reviews

8482

In [39]:
perc_five_star_paid = paid_five_star_reviews/paid_reviews * 100
perc_five_star_paid

54.41176470588235

In [40]:
perc_five_star_unpaid = unpaid_five_star_reviews/unpaid_reviews * 100
perc_five_star_unpaid

47.072534546867196